body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 14px;
	background: #f1eff4;
	font-family: 'Raleway', sans-serif;
}
@media(max-width: 767px) {
	body {
		font-size: 12px;
	}
}
@media(min-width: 768px) {
	body {
		font-size: 12.5px;
	}
}
@media(min-width: 992px) {
	body {
		font-size: 13px;
	}
}
@media(min-width: 1200px) {
	body {
		font-size: 14px;
	}
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
	monospace;
}
